.container--table {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2.5rem auto;
}

.container--table button {
  width: fit-content;
  margin: 0 auto;
}

.td--actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.td--actions .body__content--button button {
  height: 1.25rem;
}

.td--actions .body__content--button img {
  max-width: 0.875rem;
  bottom: 3px;
  left: 6px;
}

.modalFormStudent .modal-dialog {
  max-width: 25rem;
}

.modalFormStudent .modal-title.h4 {
  font-size: 1.15rem;
}

.modalFormStudent .modal-content {
  height: auto;
}

.field--select {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field--select select {
  height: 2.375rem;
  border-radius: 0.375rem;
  background-color: var(--bg-2);

  padding: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  .modal-body.flex--items.text h1 {
    width: 60%;
  }
}
